/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * 
 *= require material_icons
 *= require_tree .
 *= require_self
 */

@import 'materialize';

.required {
  color: red;
}

.no-margin {
  margin: 0px !important;
}

.no-padding {
  padding: 0px;
}

.flash-msg {
  padding: 8px 0px;
  margin: 3px 0px;
  font-weight: bold;
}

.error-msg {
  background-color: #e74c3c;
}

.warning-msg {
  background-color: #f39c12;
}

.success-msg {
  background-color: #2ecc71;
}

.container-80 {
  width: 80%;
  margin: 0 auto;
}

.container-90 {
  width: 90%;
  margin: 0 auto;
}